h1,
h2,
h3,
h4,
h5 {
  font-family: "Cocogoose Letterpress", Arial, Helvetica, sans-serif;
}
label {
  font-family: "Cocogoose Letterpress", Arial, Helvetica, sans-serif;
}
.span {
  font-family: "Cocogoose Letterpress", Arial, Helvetica, sans-serif;
}
.title-white {
  color: #fff;
  text-transform: uppercase;
}
